<!doctype html>
<html lang="pt-br">

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Spacefeed</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
</head>

<body is="dmx-app" id="backoffice" class="bg-cinza">







  <dmx-notifications id="alertas"></dmx-notifications>
  <div is="dmx-browser" id="navegacao"></div><dmx-serverconnect id="removerFuncao" url="/api/colaboradores/remover-funcao" noload="true"></dmx-serverconnect><dmx-serverconnect id="listaFuncaoColaborador" url="/api/colaboradores/listar-funcao-colaborador" noload="true"></dmx-serverconnect><dmx-serverconnect id="listarColaboradores" url="/api/colaboradores/listar-colaboradores"></dmx-serverconnect><dmx-serverconnect id="listaFuncoes" url="/api/colaboradores/listar-funcoes" noload="true"></dmx-serverconnect>
  <dmx-serverconnect id="listaDepartamentos" url="/api/colaboradores/listar-departamentos"></dmx-serverconnect>
  <dmx-serverconnect id="logoutUsuario" noload="true" url="/api/aoth/logout"></dmx-serverconnect><dmx-serverconnect id="usuarioLogado" credentials="true" url="/api/aoth/identificando-usuario"></dmx-serverconnect><dmx-serverconnect id="listagemEmpresas" url="/api/empresa/listar-empresas"></dmx-serverconnect><dmx-serverconnect id="selecionarEmpresa" noload="true" url="/api/empresa/empresa-selecionada" dmx-param:idempresaselecionada=""></dmx-serverconnect>





  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-12 col-md-1 col-xl-1 py-3 bg-white">
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container" dmx-on:click="navegacao.goto('/b/index')"><img src="/assets/duotune/gen001.png" class="img-fluid" width="24"><small class="text-decoration-none block text-menu">Home</small></div>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container" dmx-on:click="navegacao.goto('/b/cadastrar-polo')"><img src="/assets/duotune/ecm004.png"><small class="text-decoration-none block text-menu">Polos</small></div>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container" dmx-on:click="navegacao.goto('/b/colaboradores')"><img src="/assets/duotune/com006.png"><small class="text-decoration-none block text-menu">Colaborador</small></div>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container" dmx-on:click="navegacao.goto('/b/financeiro')"><img src="/assets/duotune/gra010.png"><small class="text-decoration-none block text-menu">Financeiro</small></div>

        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container"><img src="/assets/duotune/lay006.png"><small class="text-decoration-none block text-menu">Projetos</small></div>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container"><img src="/assets/duotune/lay010.png"><small class="text-decoration-none block text-menu">Tarefas</small></div>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container"><img src="/assets/duotune/com005.png"><small class="text-decoration-none block text-menu">Leads</small></div>
        <div class="d-flex flex-column justify-content-center align-items-center py-3 w-100 menu-container"><img src="/assets/duotune/teh005.png"><small class="text-decoration-none block text-menu">Suporte</small></div>

      </div>
      <div class="col">
        <div class="row bg-black">
          <div class="col border-bottom border-light-subtle py-3">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <div class="d-flex align-items-xxl-center flex-row">
                <img src="/assets/images/appIcon.ico" width="64" height="64" class="me-3">
                <div class="d-flex flex-column justify-content-center">
                  <h5 class="m-0 text-white">Bem-vindo {{usuarioLogado.data.queryIdentificarUsuario.nome_usuario.split(' ')[0]}}</h5>
                  <p class="m-0 small text-secondary">{{usuarioLogado.data.queryEmpresaSelecionadaDados.nome_polo}}</p>
                </div>

              </div>
              <div class="d-flex justify-content-end">
                <div class="dropdown">
                  <div class="dropdown-menu" aria-labelledby="dropdown1">
                    <button>teste</button>
                  </div>
                </div>
                <select id="selectEmpresa" class="form-select border-0" name="selectEmpresa" dmx-bind:options="listagemEmpresas.data.queryEmpresas" optiontext="nome_polo" optionvalue="id_empresa">
                  <option value="">Selecione o polo</option>
                </select>
                <button id="btn1" class="btn btn-sm btn-success ms-3" dmx-on:click="selecionarEmpresa.load({idempresaselecionada: selectEmpresa.selectedValue});navegacao.reload();usuarioLogado.load({})">Selecionar</button>
                <button id="btn7" class="btn ms-3 btn-sm btn-dark" dmx-on:click="logoutUsuario.load({},true);navegacao.goto('/')">Sair</button>
              </div>
            </div>



          </div>
        </div>
        <div class="row">

          <div class="col px-4 py-3"><%- await include(content, locals); %></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>