<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="cadastrarpolo" appConnect="local" bootstrap_icons="cdn" components="{dmxBootstrap5Offcanvas:{},dmxValidator:{},dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxDataTraversal:{}}" -->
<dmx-data-detail id="infoEmpresa" dmx-bind:data="listagemEmpresas.data.queryEmpresas" key="id_empresa"></dmx-data-detail>
<div class="offcanvas offcanvas-end w-50" id="editarOffcanvasPolo" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">{{infoEmpresa.data.nome_polo}}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" dmx-on:click="infoEmpresa.select('`0');atualizarFormEmpresa.reset()"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" id="atualizarFormEmpresa" is="dmx-serverconnect-form" action="/api/empresa/atualizar-empresa" dmx-on:error="alertas.danger('Ocorreu um erro: '+editarOffcanvasPolo.atualizarFormEmpresa.lastError.status+editarOffcanvasPolo.atualizarFormEmpresa.lastError.message+editarOffcanvasPolo.atualizarFormEmpresa.lastError.response+'. Entre em contato com o suporte.');atualizarFormEmpresa.reset();infoEmpresa.select(0);editarOffcanvasPolo.hide()" dmx-on:success="alertas.success('Empresa atualizada com sucesso!');infoEmpresa.select(0);atualizarFormEmpresa.reset();editarOffcanvasPolo.hide();listagemEmpresas.load({})">
            <input type="hidden" class="form-control" id="editarIDEmpresa" name="editarIDEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.id_empresa">
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editrazaoSocial" class="form-label">Razão social</label>
                        <input type="text" class="form-control" id="editrazaoSocial" name="editrazaoSocial" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.nome_empresa">

                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editnomeFantasia" class="form-label">Nome fantasia</label>
                        <input type="text" class="form-control" id="editnomeFantasia" name="editnomeFantasia" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.nome_fantasia">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editnomePolo" class="form-label">Nome do polo</label>
                        <input type="text" class="form-control" id="editnomePolo" name="editnomePolo" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.nome_polo">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editnomePolo" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" id="editcnpjEmpresa" name="editcnpjEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.cnpj_empresa">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editwhatsappEmpresa" class="form-label">Celular/Whatsapp do polo</label>
                        <input type="text" class="form-control" id="editwhatsappEmpresa" name="editwhatsappEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.celular_empresa">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editwhatsappEmpresa" class="form-label">Telefone do polo</label>
                        <input type="text" class="form-control" id="edittelefoneEmpresa" name="edittelefoneEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.telefone_empresa">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editenderecoEmpresa" class="form-label">Endereço com número</label>
                        <input type="text" class="form-control" id="editenderecoEmpresa" name="editenderecoEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.endereco_empresa">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editenderecoEmpresa" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="editcepEmpresa" name="editcepEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.cep_polo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editcidadeEmpresa" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="editcidadeEmpresa" name="editcidadeEmpresa" aria-describedby="input1_help" dmx-bind:value="infoEmpresa.data.Cidade">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editcidadeEmpresa" class="form-label">Estado</label>
                        <select id="editestadoEmpresa" class="form-select select-form" name="editestadoEmpresa" dmx-bind:value="infoEmpresa.data.Estado">
                            <option value="" disabled selected>Selecione um estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3"> <label for="input2" class="form-label">Obs endereços</label>
                <textarea id="editobsEnderecoEmpresa" class="form-control" name="editobsEnderecoEmpresa" dmx-bind:value="infoEmpresa.data.obs_endereco"></textarea>
            </div>
        </form>
    </div>
    <div class="d-flex flex-row py-3 border-top border-light-subtle justify-content-center"><button id="btn6" class="btn btn-light btn-custom" dmx-on:click="atualizarFormEmpresa.reset();editarOffcanvasPolo.hide();infoEmpresa.select(0)">Cancelar</button><button id="btn6" class="btn btn-primary ms-3 btn-custom" dmx-on:click="atualizarFormEmpresa.submit()">Atualizar</button></div>
</div>
<div class="offcanvas offcanvas-end w-50" id="cadatrarOffcanvasPolo" is="dmx-bs5-offcanvas" tabindex="-1" nokeyboard="true">
    <div class="offcanvas-header border-bottom border-light-subtle">
        <h5 class="offcanvas-title">Adicionar nova empresa</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" dmx-on:click="cadastrarFormEmpresa.reset()"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" action="/api/empresa/criar-empresa-polo" dmx-generator="bootstrap5" dmx-form-type="horizontal" is="dmx-serverconnect-form" id="cadastrarFormEmpresa" dmx-on:error="alertas.danger('Ocorreu um erro: '+cadatrarOffcanvasPolo.cadastrarFormEmpresa.lastError.status+cadatrarOffcanvasPolo.cadastrarFormEmpresa.lastError.message+cadatrarOffcanvasPolo.cadastrarFormEmpresa.lastError.response+'. Entre em contato com o suporte.');cadastrarFormEmpresa.reset();cadatrarOffcanvasPolo.hide()" dmx-on:invalid="alertas.warning('CNPJ já utilizado!');cadastrarFormEmpresa.reset();cadatrarOffcanvasPolo.hide()" dmx-on:success="cadastrarFormEmpresa.reset();cadatrarOffcanvasPolo.hide();alertas.success('Empresa/polo cadastrado com sucesso!');listagemEmpresas.load({})">
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editrazaoSocial" class="form-label">*Razão social</label>
                        <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editnomeFantasia" class="form-label">Nome fantasia</label>
                        <input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editnomePolo" class="form-label">*Nome do polo</label>
                        <input type="text" class="form-control" id="nomePolo" name="nomePolo" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editnomePolo" class="form-label">*CNPJ</label>
                        <input type="text" class="form-control" id="cnpjEmpresa" name="cnpjEmpresa" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editwhatsappEmpresa" class="form-label">*Celular/Whatsapp do polo</label>
                        <input type="text" class="form-control" id="whatsappEmpresa" name="whatsappEmpresa" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editwhatsappEmpresa" class="form-label">Telefone do polo</label>
                        <input type="text" class="form-control" id="telefoneEmpresa" name="telefoneEmpresa" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editenderecoEmpresa" class="form-label">*Endereço com número</label>
                        <input type="text" class="form-control" id="enderecoEmpresa" name="enderecoEmpresa" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editenderecoEmpresa" class="form-label">*CEP</label>
                        <input type="text" class="form-control" id="cepEmpresa" name="cepEmpresa" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3"> <label for="editcidadeEmpresa" class="form-label">*Cidade</label>
                        <input type="text" class="form-control" id="cidadeEmpresa" name="cidadeEmpresa" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório.">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3"> <label for="editcidadeEmpresa" class="form-label">*Estado</label>
                        <select id="estadoEmpresa" class="form-select select-form" name="estadoEmpresa" required="" data-msg-required="Este é um campo obrigatório.">
                            <option value="" disabled selected>Selecione um estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3"> <label for="input2" class="form-label">Obs endereços</label>
                <textarea id="obsEnderecoEmpresa" class="form-control" name="obsEnderecoEmpresa"></textarea>
            </div>
        </form>
    </div>
    <div class="d-flex flex-row py-3 border-top border-light-subtle justify-content-center"><button id="btn5" class="btn btn-light btn-custom" dmx-on:click="cadatrarOffcanvasPolo.hide();cadastrarFormEmpresa.reset()">Cancelar</button><button id="btn4" class="btn btn-primary ms-3 btn-custom" dmx-on:click="cadastrarFormEmpresa.submit()">Cadastrar</button></div>

    <div class="offcanvas-footer">
    </div>
</div>
<div class="container-fluid mb-3 py-3 px-0">
    <div class="row">
        <div class="col text-start align-self-center">
            <div class="d-flex flex-row align-items-center justify-content-start">
                <img src="/assets/duotune/gen001.png" width="16" height="16" class="img-fluid me-2">
                <img src="/assets/duotune/arr023.png" width="12" height="12" class="me-2">
                <h6 class="m-0 subtitulos-pagina">Gestão de polos</h6>

            </div>
            <h5 class="mt-1">Suas empresas/polos</h5>
        </div>
        <div class="col text-end align-self-center">
            <button id="btn1" class="btn btn-custom btn-primary" data-bs-toggle="offcanvas" data-bs-target="#cadatrarOffcanvasPolo">Adicionar novo</button>
        </div>
    </div>
</div>
<div class="container-fluid p-4 border border-light-subtle rounded-4 bg-white text-center" id="cadastroEmpresaContainer" dmx-show="listagemEmpresas.data.queryEmpresas.isEmpty()">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center">Crie Seu Primeiro Polo</h3>
        <p class="text-center">Adicione sua unidade para começar a gerir seus colaboradores e atividades.</p><button id="btn2" class="btn btn-custom btn-primary mb-3" data-bs-toggle="offcanvas" data-bs-target="#cadatrarOffcanvasPolo">Adicionar novo polo</button><img src="/assets/images/15.png" class="img-fluid" width="280">
    </div>
</div>
<div class="container-fluid p-4 border border-light-subtle rounded-4 bg-white text-center" id="listaEmpresaContainer" dmx-show="!listagemEmpresas.data.queryEmpresas.isEmpty()">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th class="text-start pb-3">POLO</th>
                        <th class="text-start pb-3">CNPJ</th>
                        <th class="text-start pb-3">CIDADE</th>
                        <th class="text-start pb-3">ESTADO</th>
                        <th class="text-start pb-3"></th>
                    </tr>
                </thead>
                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="listagemEmpresas.data.queryEmpresas" id="tableRepeat1">
                    <tr>
                        <td dmx-text="nome_polo" class="text-start py-3"></td>
                        <td dmx-text="cnpj_empresa" class="text-start py-3"></td>
                        <td dmx-text="Cidade" class="text-start py-3"></td>
                        <td dmx-text="Estado" class="text-start py-3"></td>
                        <td class="text-end">
                            <button id="btn3" class="btn btn-light btn-sm btn-custom" data-bs-target="#editarOffcanvasPolo" dmx-on:click="infoEmpresa.select(id_empresa)" data-bs-toggle="offcanvas">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<script>
    $('#cepEmpresa').mask('00000-000');
    $('#whatsappEmpresa').mask('(00) 0 0000-0000');
    $('#telefoneEmpresa').mask('(00) 0000-0000');
    $('#cnpjEmpresa').mask('00.000.000/0000-00');
</script>
<meta name="ac:route" content="/b/cadastrar-polo">